name: Cypress E2E Tests on Ubuntu

on: [push]

jobs:
  cypress-ubuntu-22:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    strategy:
      matrix:
        node: [18, 16]

    name: 22.04, Node v${{ matrix.node }}
    steps:
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Cypress run Chrome
        uses: cypress-io/github-action@v5.6.1
        with:
          record: false
          # tag: node-${{ matrix.node }}
          # group: Chrome Tests on Node v${{ matrix.node }}
          cache-key: node-v${{ matrix.node }}-on-${{ runner.os }}-hash-${{ hashFiles('yarn.lock') }}
          browser: chrome
          build: yarn run build
          start: yarn run start
          wait-on: 'http://localhost:9000'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Cypress run Firefox
        uses: cypress-io/github-action@v5.6.1
        with:
          record: false
          # tag: node-${{ matrix.node }}
          # group: Firefox Tests on Node v${{ matrix.node }}
          cache-key: node-v${{ matrix.node }}-on-${{ runner.os }}-hash-${{ hashFiles('yarn.lock') }}
          browser: firefox
          build: echo # Already built from Chrome test
          start: echo # Already running from Chrome test
          wait-on: 'http://localhost:9000'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots

  cypress-ubuntu-20:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    strategy:
      matrix:
        node: [18, 16]

    name: 20.04, Node v${{ matrix.node }}
    steps:
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Cypress run Chrome
        uses: cypress-io/github-action@v5.6.1
        with:
          record: false
          # tag: node-${{ matrix.node }}
          # group: Chrome Tests on Node v${{ matrix.node }}
          cache-key: node-v${{ matrix.node }}-on-${{ runner.os }}-hash-${{ hashFiles('yarn.lock') }}
          browser: chrome
          build: yarn run build
          start: yarn run start
          wait-on: 'http://localhost:9000'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Cypress run Firefox
        uses: cypress-io/github-action@v5.6.1
        with:
          record: false
          # tag: node-${{ matrix.node }}
          # group: Firefox Tests on Node v${{ matrix.node }}
          cache-key: node-v${{ matrix.node }}-on-${{ runner.os }}-hash-${{ hashFiles('yarn.lock') }}
          browser: firefox
          build: echo # Already built from Chrome test
          start: echo # Already running from Chrome test
          wait-on: 'http://localhost:9000'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
